section {
  /* display: relative;
  margin-top: -8px; */
  width: 100vw;
  min-height: 600px;
  height: auto;
  color: white;
}

section .project-text {
  text-align: center;
  margin: 100px 0 50px 0;
  font-size: 1.5rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.72);
}

#projects {
  display: inline-block;
  height: 0px;
}

/*--------------Project Flex Gallery------------------------*/
.panels-container {
  min-height: 1400px;
  height: auto;
  display: grid;
  padding: 50px;
  margin: 0 8% 0 8%;
  grid-gap: 50px;
  grid: repeat(auto-fit, 500px) / repeat(auto-fill, 40%);
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.panel {
  height: 100%;
  background: #6b0f9c;
  box-shadow: 2px 1px 3px 1px #444;
  border: 2px solid black;
  color: var(--black);
  text-align: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size 0.3s, transform 0.3s;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.panel:hover,
.panel:focus {
  font-size: 0.6rem;
  transform: scale(1.05);
}

.panel1 {
  background-image: url(../../img/img-smart-brain.png);
}
.panel2 {
  background-image: url(../../img/img-background-gen.png);
}
.panel3 {
  background-image: url(../../img/img-todo.png);
}
.panel4 {
  background-image: url(../../img/img-pomo-clock.png);
}
.panel5 {
  background-image: url(../../img/img-drinkful.jpg);
}
/*.panel6 {
  background-image: url(../../img/img-wiki-search.png);
  color: white;
} */

.panel > * {
  margin: 0;
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel p {
  text-transform: uppercase;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.72), 0 0 10px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  line-height: 50px;
  overflow: hidden;
  font-size: 2rem;
}

/* --------------------------------------------------------------------- */
@media only screen and (max-width: 1300px) {
  .panels-container {
    margin: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .panels-container {
    min-height: 2000px;
    grid: 100% / 75%;
  }
  .panel {
    height: 400px;
  }
}
