section {
  width: 100vw;
  min-height: 600px;
  height: auto;
  background: #0cebeb; /* fallback for old browsers */
  background: -webkit-linear-gradient(bottom, #29ffc6, #20e3b2, #0cebeb);
  background: -moz-linear-gradient(bottom, #29ffc6, #20e3b2, #0cebeb);
  background: -o-linear-gradient(bottom, #29ffc6, #20e3b2, #0cebeb);
  background: linear-gradient(to bottom, #29ffc6, #20e3b2, #0cebeb);
  background: linear-gradient(to bottom, #29ffc6, #20e3b2, #0cebeb);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section .project-text {
  text-align: center;
  margin: 100px 0 50px 0;
  font-size: 1.5rem;
}

#projects {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

/*--------------Project Flex Gallery------------------------*/
.panels-container {
  overflow: hidden;
  min-height: 600px;
  height: auto;
  display: grid;
  padding: 50px;
  margin: 0 8% 0 8%;
  grid-gap: 50px;
  grid: 50vh 50vh / 50% 50%;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.panel {
  height: 100%;
  background: #6b0f9c;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  border: 2px solid black;
  color: var(--black);
  text-align: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size 0.5s, transform 0.5s;
  font-size: 0.5em;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.panel:hover,
.panel:focus {
  font-size: 0.6rem;
  transform: scale(1.1);
}

.panel1 {
  background-image: url(../../img/img-smart-brain.png);
}
.panel2 {
  background-image: url(../../img/img-background-gen.png);
}
.panel3 {
  background-image: url(../../img/img-todo.png);
}
.panel4 {
  background-image: url(../../img/img-pomo-clock.png);
}
/* .panel5 {
  background-image: url(../../img/img-react-coin.png);
  color: white;
}
.panel6 {
  background-image: url(../../img/img-wiki-search.png);
  color: white;
} */

.panel > * {
  margin: 0;
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel p {
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  line-height: 50px;
  overflow: hidden;
}

.panel p:nth-child(2) {
  font-size: 4em;
}

/* --------------------------------------------------------------------- */
@media only screen and (max-width: 1300px) {
  .panels-container {
    margin: 0;
  }
}

@media only screen and (max-width: 800px) {
  .panels-container {
    min-height: 2000px;
    grid: 100% / 100%;
  }
}
