@import url("https://fonts.googleapis.com/css?family=Roboto");

.resume-container {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
}

.top-bar {
  position: fixed;
  height: 75px;
  width: 100vw;
  background: #324950;
}

.top-bar p {
  font-size: 1.2rem;
  position: fixed;
  right: 25px;
  top: 25px;
}

.top-bar p a {
  color: #ddd;
  text-decoration: none;
}

.back-button-container {
  display: inline-block;
  width: 60px;
  height: 60px;
}

.back-button {
  position: relative;
  transform: rotate(45deg);
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  border-radius: 2px;
  top: 25px;
  left: 25px;
  height: 25px;
  width: 25px;
}

.resume-container header {
  display: grid;
  grid: 150px repeat(auto-fit, 50px) / 100vw;
  margin: 0 auto;
  justify-content: center;
  align-items: end;
  width: 100vw;
  height: 290px;
  background: #324950;
  color: white;
}

.resume-container header h1,
.resume-container header h3,
.resume-container header h5,
.resume-container header a {
  padding: 0;
  margin: 0;
  z-index: 999;
}

.resume-container header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-container header img {
  margin-left: 20px;
  height: 75px;
  width: auto;
}

.resume-container h1 {
  letter-spacing: 5px;
}

.resume-container h2 {
  line-height: 0;
  color: #95a5a6;
}

.resume-container h5 {
  line-height: 0;
}

.resume-container main {
  padding: 10px 40px 10px 40px;
}

.resume-container main li {
  line-height: 2;
}

.resume-container section {
  margin: 50px 0 50px 0;
}

/* --------------------------------------------------- */

@media only screen and (max-width: 800px) {
  .resume-container header div {
    padding: 50px 40px 50px 40px;
    height: 100px;
  }

  .resume-container header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 300px;
  }

  .top-bar {
    height: 50px;
  }

  .top-bar p {
    font-size: 1rem;
    top: 12px;
    right: 15px;
  }

  .back-button {
    top: 15px;
    left: 15px;
    height: 20px;
    width: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .resume-container,
  .resume-container header {
    height: 50vh;
    min-height: 375px;
  }

  .resume-container header img {
    margin-left: 5px;
  }
}
