.site-header header {
  position: relative;
  height: 97vh;
  overflow: none;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  background: rgb(240, 100, 87); /* fallback for old browsers */
  background: -webkit-linear-gradient(bottom, #29ffc6, #20e3b2, #0cebeb);
  background: -moz-linear-gradient(bottom, #29ffc6, #20e3b2, #0cebeb);
  background: -o-linear-gradient(bottom, #29ffc6, #20e3b2, #0cebeb);
  background: linear-gradient(rgb(242, 114, 84) 0%, rgb(240, 100, 87) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  font-size: 1.2rem;
  z-index: 2;
  top: 30px;
}

.banner-text {
  text-align: center;
  height: 300px;
  width: 80vw;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.72);
  z-index: 2;
}

.banner-text h1,
.banner-text h3 {
  letter-spacing: 5px;
}

.banner-text h1 {
  font-size: 5em;
  line-height: 1.1em;
}

.banner-text h3 {
  font-size: 1.5em;
}

.arrow--container {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
}

i.arrow--down {
  background: linear-gradient(rgb(242, 114, 84) 0%, rgb(240, 100, 87) 100%);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  border: solid var(--black);
  border-width: 0 2px 2px 0;
  display: inline-block;
  top: 75px;
  padding: 3px;
}

#home--link {
  top: 0;
}

@media only screen and (max-width: 830px) {
  /* header styles
 ------------------------------------------------------------------ */
  .site-header header h1 {
    font-size: 5rem;
  }

  .site-header header h3 {
    font-size: 1.5rem;
  }
}
