.header--pad-box {
  height: 97vh;
  width: 100vw;
}

.site-header {
  position: absolute;
  overflow: none;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  background: rgb(240, 100, 87); /* fallback for old browsers */
  background: -webkit-linear-gradient(bottom, #29ffc6, #20e3b2, #0cebeb);
  background: -moz-linear-gradient(bottom, #29ffc6, #20e3b2, #0cebeb);
  background: -o-linear-gradient(bottom, #29ffc6, #20e3b2, #0cebeb);
  background: linear-gradient(rgb(242, 114, 84) 0%, rgb(240, 100, 87) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  font-size: 1.2rem;
  z-index: 2;
}

.banner-text {
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 80vw;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.72);
  z-index: 2;
}

.banner-text--h1,
.banner-text--ellipses,
.banner-text--h3 {
  letter-spacing: 5px;
}

.banner-text--h1 {
  font-size: 5em;
  line-height: 1.1em;
  width: 570px;
}

.banner-text--ellipses {
  width: 30px;
  font-size: 1.5em;
}

.banner-text--h3 {
  font-size: 1.5em;
  width: 600px;
}

.arrow--container {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
}

.arrow--container__hidden {
  opacity: 0;
}

i.arrow--down {
  background: linear-gradient(rgb(242, 114, 84) 0%, rgb(240, 100, 87) 100%);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  border: solid var(--black);
  border-width: 0 2px 2px 0;
  display: inline-block;
  top: 75px;
  padding: 3px;
}

#home--link {
  top: 0;
}

/* Used for letter fade in animation */
.textAppear {
  animation: move 0.6s;
  position: relative;
}

@keyframes move {
  from {
    top: 50px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@media only screen and (max-width: 830px) {
  /* header styles
 ------------------------------------------------------------------ */
  .banner-text {
    position: relative;
    top: 50px;
    justify-content: center;
  }

  .banner-text--h1 {
    font-size: 4.5rem;
    width: 70vw;
    text-align: center;
  }

  .banner-text--ellipses {
    width: 30px;
    font-size: 1rem;
    text-align: center;
  }

  .banner-text--h3 {
    font-size: 1.2rem;
    line-height: 3rem;
    width: 60vw;
    text-align: center;
  }
}
