/* Type */

* {
	font-family: Arial, sans-serif;
	font-size: 18px;
	line-height: 150%;
}

/* Global */


/* Header */

.header {
	background-color: rgba(0, 0, 0, 0.8);
	display: grid;
	grid-template-columns: 80px 4fr 1fr 1fr;
	height: 80px;
	grid-column: 1 / -1;
	z-index: 999;
}

.header a {
	color: rgba(255, 255, 255, 0.75);
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-decoration: none;
	height: 100%;
}

.header a:hover, nav a.active {
	transition: 0.5s;
	color: #000;
	background: #fff;
}

.header .logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	text-decoration: none;
}

.nav {
	display: flex;
	align-items: center;
	grid-column: 4;
	padding: 0px 10px 0px 0px;
	white-space: nowrap;
}

.nav li {
	display: inline-block;
}



/* Banner */

.banner {
	background: #0cebeb;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(left, #29ffc6, #20e3b2, #0cebeb);
	background: -moz-linear-gradient(left, #29ffc6, #20e3b2, #0cebeb);
	background: -o-linear-gradient(left, #29ffc6, #20e3b2, #0cebeb);
	background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
	grid-gap: 100px;
}

.banner-text {
	grid-column: 2 / span 1;
	grid-row: 2;
	align-self: center;
	justify-self: center;
	color: #fff;
}
.banner-text h1 {
	font-size: 60px;
	font-weight: 700;
}
.banner-text p {
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 3px;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 80px;
}

/* Description */

.description {
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
}

.description p {
	text-align: center;
	padding: 10px 0px 0px 10px;
	grid-column: 2 / span 1;
}

/* Works */

.works {
	background: #33eeff;
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
	grid-template-columns: 1fr 8fr 1fr;
	grid-gap: 1em;
	grid-auto-flow: row;
	justify-content: center;
	align-content: center;
}

.works img {
	width: 100%;
	height: 100%;
}

.item {
	text-align: center;
	grid-column: 1 / -1;
}

.item-3 {
	grid-column: 2 / span 1;
}