html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  min-width: 100vw;
  min-height: 100vh;
  /* background: #398296; */
  background: #ddd;
}

h1 {
  font-size: 5em;
  line-height: 1.1em;
  letter-spacing: -1px;
}

h3 {
  font-size: 1.5em;
}

p {
  margin: 0 0 30px 0;
  font-size: 1em;
}

button,
button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font: 16px/30px "Open Sans", sans-serif;
  font-weight: 700;
  background: #11abb0;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0;
  color: #fff;
  padding: 12px 20px;
  margin-bottom: 18px;
  border: none;
  cursor: pointer;
  height: auto;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  background: #3d4145;
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
