@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i");

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --black: #111111;
  --white: #ddd;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}
