.nav {
  background-color: var(--black);
  letter-spacing: 2px;
  height: auto;
  width: 100vw;
  white-space: nowrap;
  display: grid;
  grid: 60px / repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  border-bottom: 5px solid #bada55;
  position: fixed;
  overflow: hidden;
  z-index: 999;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

/* Style the links inside the navigation bar */
.nav a,
.nav--responsive a {
  display: block;
  color: #c0ffee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: all 0.2s;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: white;
  border-radius: 2px;
  color: black;
}

#home {
  grid-column-start: 2;
}

/* Hide the link that should open and close the topnav on small screens */
.nav .menuIcon {
  display: none;
}

/* Menu Icon */

.menuIcon {
  display: block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 32px;
  height: 4px;
  background-color: #f2f2f2;
  margin: 6px 0;
  border-radius: 2px;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 6px);
  transform: rotate(-45deg) translate(-7px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* When the screen is less than 700 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.menuIcon) */
@media screen and (max-width: 700px) {
  .nav a:not(:first-child) {
    display: none;
  }

  .nav .menuIcon {
    grid-column: span 1/ -1;
    display: block;
    justify-self: end;
    padding-right: 20px;
  }
}

/* The "responsive" class is swapped with "nav" class with JavaScript when the user clicks on the icon. This class makes the nav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 700px) {
  .nav--responsive {
    background-color: var(--black);
    letter-spacing: 2px;
    height: auto;
    width: 100vw;
    white-space: nowrap;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    top: -300px;
    transform: translateY(300px);
    border-bottom: 5px solid #bada55;
    overflow: hidden;
    transition: all 0.3s;
  }

  .nav--responsive a:not(:first-child) {
    display: block;
  }

  .nav--responsive .menuIcon {
    position: absolute;
    border: none;
    right: 20px;
    top: 12px;
  }

  .nav--responsive a {
    border-top: 2px solid #bada55;
    display: block;
    text-align: center;
    width: 100px;
    padding: 20px 0 20px 0;
  }

  #home {
    grid-column-start: 1;
  }

  .nav--responsive a:first-child {
    border-top: none;
  }
}
