.about-me {
  height: 80vh;
  display: flex;
  width: 100vw;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    circle,
    #f1fffd,
    #ebfdfd,
    #e5fbfd,
    #dff9fe,
    #daf7ff
  );
  color: var(--black);
  border-top: 1px solid var(--black);
  font-size: 1.25rem;
  position: relative;
  letter-spacing: 2px;
}

.Tilt {
  float: right;
  width: 180px;
  height: 180px;
}

.Tilt img {
  border-radius: 5%;
}

#about {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

#contact {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}
