.about-me {
	height: auto;
	display: grid;
	justify-content: center;
	background: #D5AAAA;
}

.about-me__text {
	color: hsla(0,0%,0%, .8);
	width: 80vw;
}

.about-me__text h2 {
	color: #C0FFEE;
	width: 80vw;
}

#about {
	margin-top: -100px;   
  padding-bottom: 100px; 
  display: block; 
}

#contact {
	margin-top: -100px;   
  padding-bottom: 100px; 
  display: block; 
}